@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  font-size: 24px;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica;
  display: flex;
  align-items: center;
  padding: 20px;
  width: 100vw;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.filters {
  width: 90%;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
}

.job-list{
  display: flex;
  flex-wrap: wrap;
  margin:auto;
  width:90%;
}

.card {
  margin:20px;
}

.job-description {
  overflow: hidden;
  mask-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255), rgba(255, 255, 255, 0));
}

.job-description::after {
}
